# Database Connection String
# Contoh: postgresql://username:password@localhost:5432/electrobyte?sslmode=disable
DATABASE_URL="postgresql://username:password@localhost:5432/electrobyte?sslmode=disable"

# NextAuth
# Generate NEXTAUTH_SECRET dengan perintah: openssl rand -base64 32
NEXTAUTH_SECRET="ganti_dengan_jwt_secret_yang_aman_minimal_32_karakter"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (Dari Google Cloud Console)
GOOGLE_CLIENT_ID="ganti_dengan_google_client_id_anda"
GOOGLE_CLIENT_SECRET="ganti_dengan_google_client_secret_anda"

# Microservice URLs (server-side Next.js calls)
# Di lokal (npm run dev): menggunakan port langsung masing-masing service
AUTH_SERVICE_URL=http://localhost:4001
PRODUCT_SERVICE_URL=http://localhost:4002
CART_SERVICE_URL=http://localhost:4003
ORDER_SERVICE_URL=http://localhost:4004

# Traefik API Gateway URL (Entrypoint utama)
TRAEFIK_URL=http://localhost:3000
